<div class="col-12 px-0">
  <div class="tab-list nav nav-tabs nav-tabs-underline d-flex flex-nowrap" role="tablist">
    <div
      role="tab"
      class="flex-grow-1 nav-item nav-link d-inline-block text-truncate text-center"
      rv-each-tab="tabs"
      rv-class-active="tab.active"
      rv-add-class="'tab-title-' | append tab.handle"
      {# rv-add-class="'tab-title-' | append handle" #}
      rv-id="'tab-title-' | append handle | append '-' | append tab.handle"
      rv-aria-controls="'tab-content-' | append handle | append '-' | append tab.handle"
      rv-html="tab.title"
      rv-title="tab.title"
      rv-on-click="activate | args tab"
      rv-aria-selected="tab.active"
    ></div>
  </div>
  <div class="tab-content mx-auto">
    <div
      role="tabpanel"
      class="tab-pane"
      rv-each-tab="tabs"
      rv-class-active="tab.active"
      rv-class-show="tab.active"
      rv-add-class="'tab-content-' | append tab.handle"
      {# rv-add-class="'tab-content-' | append handle" #}
      rv-id="'tab-content-' | append handle | append '-' | append tab.handle"
      rv-html="tab.content"
      rv-aria-labelledby="'tab-title-' | append handle | append '-' | append tab.handle"
    >
    </div>
  </div>
</div>