# don't ever lint node_modules
node_modules/**/*.ts
.yarn/**/*.ts
# don't lint build output (make sure it's set to your correct build folder name)
dist/**/*.ts

# Ignore extern files
src/ts/demos/**/*.ts
../../packages/**/*.ts

# Ignore config files
babel.config.js
cssnano.config.js
jest.config.js
webpack.config.js
