$bs4-scrollspy-dot-size: 5px;

bs4-scrollspy.side-scrollspy {
  position: fixed;
  right: 0;
  top: 100px;
  width: 200px;
  ul.list-scrollspy-level-2 {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      bottom: 10px;
      width: 2px;
      background: #efefef;
    }
    li {
      display: block;
      position: relative;
      padding-left: 30px;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 6px;
      cursor: pointer;
      &.active {
        &:before {
          background: theme-color('primary');;
          border-color: theme-color('primary');;
          border-width: $bs4-scrollspy-dot-size;
          left: -($bs4-scrollspy-dot-size - 1);
        }
      }
      &:before {
        border-radius: 50%;
        transform: translateY(-50%);
        content: "";
        background: #fdfdfd;
        border: $bs4-scrollspy-dot-size solid #efefef;
        left: -($bs4-scrollspy-dot-size - 1);
        width: 6px;
        height: 6px;
        top: 50%;
        // top: 20px;
        display: inline-block;
        position: absolute;
      }
      .nav-link {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

}

body:not(#index) {
  #main-container {
    @include media-breakpoint-up(lg) {
      margin-right: 250px;
    }
  }
}
