
<div class="container py-5 page {{template|handleize}}" id="page-content-{{page.handle}}">
  <div class="row pt-5">
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <h1 class="page-title">{{ page.title }}
          </h1>
          <div class="rte">{{ page.content }}</div>
          <div class="content">
            <section class="my-5"><h1>Bootstrap 4 Module</h1>
<h2>Install</h2>
<pre><code class="language-bash">npm install --save-dev @ribajs/bs4
</code></pre>
<h2>Regist</h2>
<p>To regist the module include <code>import bs4Module from '@ribajs/bs4';</code> in your <code>main.ts</code> file and regist the module with <code>riba.module.regist(bs4Module);</code>:</p>
<pre><code class="language-ts">import { Riba, JQuery } from '@ribajs/core';
import bs4Module from '@ribajs/bs4';
const riba = new Riba();
const model = {};
riba.module.regist(bs4Module);
JQuery(($: JQueryStatic) =&gt; {
  riba.bind(document.body, this.model);
});
</code></pre>

            </section>
            <section class="my-5">
              <h2 id="components">Components</h2>
              <section class="my-5">
                <h3 id="bs4-tabs">bs4-tabs</h3><p>You can define the tab tilte and content with the <code>tab-[index]-title</code> and <code>tab-[index]-content</code> attributes.</p>

                <rv-example-tabs handle="bs4-tabs-attr">
                  <template title="each-item-example.component.html"><pre><code class="language-html">&lt;bs4-tabs
  tab-0-title=&quot;Tab 0&quot;
  tab-0-content=&quot;&lt;p&gt;Hello from &lt;strong&gt;tab 0&lt;/strong&gt;&lt;/p&gt;&quot;
  tab-1-title=&quot;Tab 1&quot;
  tab-1-content=&quot;&lt;p&gt;Hello from &lt;strong&gt;tab 1&lt;/strong&gt;&lt;/p&gt;&quot;
&gt;&lt;/bs4-tabs&gt;</code></pre>
                  </template>
                  <template title="README.md"><h1>bs4-tabs-attr</h1>
<pre><code class="language-bash">git clone --recurse-submodules https://github.com/ribajs/riba.git
cd riba/examples/bs4-tabs-attr
npm install
npm run start
</code></pre>

                  </template>
                  <template title="Preview">
                    <rv-bs4-tabs-attr-example></rv-bs4-tabs-attr-example>
                  </template>
                </rv-example-tabs>
                <div class="mt-5"><p>Sometimes it is useful to define the tabs via templates, for example if the html content of the tabs are too complex.</p>

                </div>
                <rv-example-tabs handle="bs4-tabs-tpl">
                  <template title="bs4-tabs-tpl-example.component.html"><pre><code class="language-html">&lt;bs4-tabs&gt;
  &lt;template title=&quot;Tab 0&quot;&gt;
    &lt;img class=&quot;img-fluid&quot; src=&quot;https://via.placeholder.com/150/7c00b5/FFFFFF?text=Tab%200&quot; alt=&quot;Tab 0&quot;&gt;
  &lt;/template&gt;
  &lt;template title=&quot;Tab 1&quot;&gt;
    &lt;img class=&quot;img-fluid&quot; src=&quot;https://via.placeholder.com/150/00b56a/FFFFFF?text=Tab%201&quot; alt=&quot;Tab 1&quot;&gt;
  &lt;/template&gt;
&lt;/bs4-tabs&gt;</code></pre>
                  </template>
                  <template title="Preview">
                    <rv-bs4-tabs-tpl-example></rv-bs4-tabs-tpl-example>
                  </template>
                  <template title="README.md"><h1>bs4-tabs-tpl</h1>
<pre><code class="language-bash">git clone --recurse-submodules https://github.com/ribajs/riba.git
cd riba/examples/bs4-tabs-tpl
npm install
npm run start
</code></pre>

                  </template>
                </rv-example-tabs>
              </section>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>