<div class="container-fluid pt-4 page {{template|handleize}}" id="page-content-{{page.handle}}"><div class="row"><div class="col-12 col-lg-6"><div class="row"><div class="col-12"><h1 class="page-title">{{ page.title }}Guide</h1><div class="rte">{{ page.content }}</div><div class="content"><p>You can grab the latest stable release from <a href="https://raw.githubusercontent.com/blikblum/riba/master/dist/riba.js">github</a> or install using the package manager of your choice.</p>
<pre><code class="language-bash">npm install riba
</code></pre>
<p>Use in a script tag...</p>
<pre><code class="language-html">&lt;script src=&quot;riba.js&quot;&gt;&lt;/script&gt;
</code></pre>
<p>... or import using a bundler like webpack</p>
<pre><code class="language-javascript">import riba from 'riba'
</code></pre>
</div></div></div></div></div></div>