extends ../_extends/generated-page.pug

block content

  section.my-5
    include:markdown-it(html) ../../../../bs4/README.md

  section.my-5#binders
    h2 Binders

    section#scroll-to-on-event.my-5
      h3 scroll-to-on-[event]
      include:markdown-it(html) ../../../doc/reference/bs4/binders/scroll-to-on-[event].md

  section#components.my-5
    h2 Components

    section#bs4-tabs.my-5
      h3 bs4-tabs
      include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-tabs/bs4-tabs-with-attributes.md
      include ../../../doc/examples/bs4-tabs-attr

      div.mt-5
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-tabs/bs4-tabs-with-templates.md
      include ../../../doc/examples/bs4-tabs-tpl