extends ../_extends/generated-page.pug

block content

  section.my-5
    include:markdown-it(html) ../../../../core/README.md

  section.my-5#binders
    h2 Binders

    section.my-5#add-class-binder
      h3 add-class
      include:markdown-it(html) ../../../doc/reference/core/binders/add-class.md

    section.my-5#remove-class-binder
      h3 remove-class
      include:markdown-it(html) ../../../doc/reference/core/binders/remove-class.md

    //- section.my-5#animate-classname-binder
    //-   h3 animate-classname
    //-   include:markdown-it(html) ../../../doc/reference/core/binders/animate-classname.md

    section.my-5#assign-binder
      h3 assign
      include:markdown-it(html) ../../../doc/reference/core/binders/assign.md

    section.my-5#assign-property-binder
      h3 assign-[property]
      include:markdown-it(html) ../../../doc/reference/core/binders/assign-[property].md

    section.my-5#attribute-binder
      h3 [attribute]
      include:markdown-it(html) ../../../doc/reference/core/binders/[attribute].md

    section.my-5#block-binder
      h3 block
      include:markdown-it(html) ../../../doc/reference/core/binders/block.md

    section.my-5#checked-binder
      h3 checked
      include:markdown-it(html) ../../../doc/reference/core/binders/checked.md

    section.my-5#unchecked-binder
      h3 unchecked
      include:markdown-it(html) ../../../doc/reference/core/binders/unchecked.md

    section.my-5#class-classname-binder
      h3 class-[classname]
      include:markdown-it(html) ../../../doc/reference/core/binders/class-[classname].md

    section.my-5#disabled-binder
      h3 disabled
      include:markdown-it(html) ../../../doc/reference/core/binders/disabled.md

    section.my-5#enabled-binder
      h3 enabled
      include:markdown-it(html) ../../../doc/reference/core/binders/enabled.md
  
    section.my-5#each-item-binder
      h3 each-[item]
      include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/each-[item].md
      section.my-5
        h4 Example
        include ../../../doc/examples/each-[item]

    section.my-5#nested-each-item-binder
      h3 Nested each-[item]
      include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/nested-each-[item].md

    section.my-5#hide-binder
      h3 hide
      include:markdown-it(html) ../../../doc/reference/core/binders/hide.md

    section.my-5#show-binder
      h3 show
      include:markdown-it(html) ../../../doc/reference/core/binders/show.md

    section.my-5#html-binder
      h3 html
      include:markdown-it(html) ../../../doc/reference/core/binders/html.md

    section.my-5#text-binder
      h3 text
      include:markdown-it(html) ../../../doc/reference/core/binders/text.md
            
    section.my-5#if-binder
      h3 if
      include:markdown-it(html) ../../../doc/reference/core/binders/if.md

    section.my-5#unless-binder
      h3 unless
      include:markdown-it(html) ../../../doc/reference/core/binders/unless.md

    section.my-5
      h3#on-event-binder on-[event]
      include:markdown-it(html) ../../../doc/reference/core/binders/on-[event].md

    section.my-5#srcset-size-binder
      h3 srcset-[size]
      include:markdown-it(html) ../../../doc/reference/core/binders/srcset-[size].md

    section.my-5#style-property-binder
      h3 style-property
      include:markdown-it(html) ../../../doc/reference/core/binders/style-[property].md
      
    section.my-5#value-binder
      h3 value
      include:markdown-it(html) ../../../doc/reference/core/binders/value.md


  section.my-5#components
    h2 Components

    section.my-5#video-component
      h3 rv-video
      include:markdown-it(html) ../../../doc/reference/core/components/video.md

  section.my-5#formatters
    h2 Formatters

    section.my-5#array-formatters
      h3 Array formatters

      section.my-5#contains-formatter
        h4 contains
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/contains.md

      section.my-5#empty-formatter
        h4 empty
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/empty.md

      section.my-5#first-formatter
        h4 first
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/first.md

      section.my-5#get-formatter
        h4 get
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/get.md

      section.my-5#is-last-formatter
        h4 is-last
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/is-last.md

      section.my-5#last-formatter
        h4 last
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/last.md

      section.my-5#random-formatter
        h4 random
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/random.md

      section.my-5#set-formatter
        h4 set
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/set.md

      section.my-5#size-formatter
        h4 size
        include:markdown-it(html) ../../../doc/reference/core/formatters/array/size.md

    section.my-5#compare-formatters
      h3 Compare formatters

      section.my-5#and-formatter
        h4 and
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/and.md

      section.my-5#between-formatter
        h4 between
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/between.md

      section.my-5#egt-formatter
        h4 egt
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/egt.md

      section.my-5#elt-formatter
        h4 elt
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/elt.md

      section.my-5#eq-formatter
        h4 eq
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/eq.md

      section.my-5#lt-formatter
        h4 lt
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/lt.md

      section.my-5#ne-formatter
        h4 ne
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/ne.md

      section.my-5#not-formatter
        h4 not
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/not.md

      section.my-5#or-formatter
        h4 or
        include:markdown-it(html) ../../../doc/reference/core/formatters/compare/or.md

    section.my-5#math-formatters
      h3 Math formatters

      section.my-5#digits-formatter
        h4 digits
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/digits.md

      section.my-5#divided-by-formatter
        h4 dividedBy
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/divided-by.md

      section.my-5#even-formatter
        h4 even / uneven
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/even.md

      section.my-5#gcd-formatter
        h4 gcd
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/gcd.md

      section.my-5#minus-formatter
        h4 minus
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/minus.md

      section.my-5#modulo-formatter
        h4 modulo
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/modulo.md

      section.my-5#number-formatter
        h4 number
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/number.md

      section.my-5#plus-formatter
        h4 plus
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/plus.md

      section.my-5#times-formatter
        h4 times
        include:markdown-it(html) ../../../doc/reference/core/formatters/math/times.md

    section.my-5#special-formatters
      h3 Special formatters

      section.my-5#args-formatter
        h4 args
        include:markdown-it(html) ../../../doc/reference/core/formatters/special/args.md

      section.my-5#call-formatter
        h4 call
        include:markdown-it(html) ../../../doc/reference/core/formatters/special/call.md

      section.my-5#debug-formatter
        h4 debug
        include:markdown-it(html) ../../../doc/reference/core/formatters/special/debug.md

      section.my-5#default-formatter
        h4 default
        include:markdown-it(html) ../../../doc/reference/core/formatters/special/default.md

    section.my-5#string-formatters
      h3 String formatters

      section.my-5#append-formatter
        h4 append
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/append.md

      section.my-5#downcase-formatter
        h4 downcase
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/downcase.md

      section.my-5#filled-formatter
        h4 filled
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/filled.md

      section.my-5#handleize-formatter
        h4 handleize
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/handleize.md

      section.my-5#match-formatter
        h4 match
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/match.md

      section.my-5#pluralize-formatter
        h4 pluralize
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/pluralize.md

      section.my-5#prepend-formatter
        h4 prepend
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/prepend.md

      section.my-5#replace-first-formatter
        h4 replaceFirst
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/replace-first.md

      section.my-5#replace-formatter
        h4 replace
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/replace.md

      section.my-5#slice-formatter
        h4 slice
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/slice.md

      section.my-5#strip-html-formatter
        h4 strip-html
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/strip-html.md

      section.my-5#strip-formatter
        h4 strip
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/strip.md

      section.my-5#upcase-formatter
        h4 upcase
        include:markdown-it(html) ../../../doc/reference/core/formatters/string/upcase.md

    section.my-5#type-formatters
      h3 Type formatters

      section.my-5#boolean-formatter
        h4 boolean
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/boolean.md

      section.my-5#is-array-formatter
        h4 isArray
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-array.md

      section.my-5#is-boolean-formatter
        h4 isBoolean
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-boolean.md

      section.my-5#is-defined-formatter
        h4 isDefined
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-defined.md

      section.my-5#is-number-formatter
        h4 isNumber
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-number.md

      section.my-5#is-object-formatter
        h4 isObject
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-object.md

      section.my-5#is-string-formatter
        h4 isString
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-string.md

      section.my-5#is-undefined-formatter
        h4 isUndefined
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/is-undefined.md

      section.my-5#json-formatter
        h4 json
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/json.md

      section.my-5#parse-formatter
        h4 parse
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/parse.md

      section.my-5#string-formatter
        h4 string
        include:markdown-it(html) ../../../doc/reference/core/formatters/type/string.md