extends ../_extends/generated-page.pug

block content

  section.my-5
    include:markdown-it(html) ../../../../jquery/README.md

  section.my-5
    h2#binders Binders

    section.my-5
      h3#on-event on-[event]
      include:markdown-it(html) ../../../doc/reference/jquery/binders/on-[event].md
