extends ../_extends/generated-page.pug

block content
  section.my-5
    h2#binders Binders

    section.my-5
      h3#text text
      include:markdown-it(html) ../../../doc/reference/core/binders/text.md

    section.my-5
      h3#html html
      include:markdown-it(html) ../../../doc/reference/core/binders/html.md

    section.my-5
      h3#show show
      include:markdown-it(html) ../../../doc/reference/core/binders/show.md
      
    section.my-5  
      h3#hide hide
      include:markdown-it(html) ../../../doc/reference/core/binders/hide.md
      
    section.my-5
      h3#enabled enabled
      include:markdown-it(html) ../../../doc/reference/core/binders/enabled.md
      
    section.my-5
      h3#disabled disabled
      include:markdown-it(html) ../../../doc/reference/core/binders/disabled.md
      
    section.my-5
      h3#if if
      include:markdown-it(html) ../../../doc/reference/core/binders/if.md

    section.my-5
      h3#unless unless
      include:markdown-it(html) ../../../doc/reference/core/binders/unless.md
      
    section.my-5
      h3#value value
      include:markdown-it(html) ../../../doc/reference/core/binders/value.md
      
    section.my-5
      h3#checked checked
      include:markdown-it(html) ../../../doc/reference/core/binders/checked.md

    section.my-5
      h3#unchecked unchecked
      include:markdown-it(html) ../../../doc/reference/core/binders/unchecked.md
      
    section.my-5
      h3#on-event on-[event]
      include:markdown-it(html) ../../../doc/reference/core/binders/on-[event].md
      
    section.my-5
      h3#each-item each-[item]
      include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/each-[item].md
      section.my-5
        h4#each-item-example Example
        include ../../../doc/examples/each-[item]

    section.my-5
      h3#each-item Nested each-[item]
      include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/nested-each-[item].md
      
    section.my-5
      h3#class-classname class-[classname]
      include:markdown-it(html) ../../../doc/reference/core/binders/class-[classname].md

    section.my-5
      h3#add-class add-class
      include:markdown-it(html) ../../../doc/reference/core/binders/add-class.md

    section.my-5
      h3#remove-class remove-class
      include:markdown-it(html) ../../../doc/reference/core/binders/remove-class.md

    //- section.my-5
    //-   h3#animate-classname animate-classname
    //-   include:markdown-it(html) ../../../doc/reference/core/binders/animate-classname.md

    section.my-5
      h3#remove-class remove-class
      include:markdown-it(html) ../../../doc/reference/core/binders/remove-class.md

    section.my-5
      h3#srcset-size srcset-[size]
      include:markdown-it(html) ../../../doc/reference/core/binders/srcset-[size].md

    section.my-5
      h3#assign assign
      include:markdown-it(html) ../../../doc/reference/core/binders/assign.md

    section.my-5
      h3#block block
      include:markdown-it(html) ../../../doc/reference/core/binders/block.md

    section.my-5
      h3#attribute [attribute]
      include:markdown-it(html) ../../../doc/reference/core/binders/[attribute].md
