extends ../_extends/generated-page.pug

block content
  section.my-5
    h2#components Components

    section.my-5
      h3#bs4-tabs bs4-tabs
      include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-tabs/bs4-tabs-with-attributes.md
      include ../../../doc/examples/bs4-tabs-attr

      div.mt-5
        include:markdown-it(html) ../../../doc/reference/bs4/components/bs4-tabs/bs4-tabs-with-templates.md
      include ../../../doc/examples/bs4-tabs-tpl