extends ../_extends/generated-page-without-content.pug

block content

  section.my-5
    include:markdown-it(html) ../../../../shopify/README.md

  section.my-5
    h2#components Binders

    section.my-5
      h3#shopify-img shopify-img
      include:markdown-it(html) ../../../doc/reference/shopify/binders/shopify-img.md
      include ../../../doc/examples/shopify-img/embed.pug