extends ../_extends/generated-page-without-content.pug

block content

  section.my-5
    include:markdown-it(html) ../../../../core/README.md

  section.my-5#binders
    h2 Binders

    section.my-5#text
      h3 text
      include:markdown-it(html) ../../../doc/reference/core/binders/text.md

    section.my-5#html
      h3 html
      include:markdown-it(html) ../../../doc/reference/core/binders/html.md

    section.my-5#show
      h3 show
      include:markdown-it(html) ../../../doc/reference/core/binders/show.md
      
    section.my-5#hide 
      h3 hide
      include:markdown-it(html) ../../../doc/reference/core/binders/hide.md
      
    section.my-5#enabled
      h3 enabled
      include:markdown-it(html) ../../../doc/reference/core/binders/enabled.md
      
    section.my-5#disabled
      h3 disabled
      include:markdown-it(html) ../../../doc/reference/core/binders/disabled.md
      
    section.my-5#if
      h3 if
      include:markdown-it(html) ../../../doc/reference/core/binders/if.md

    section.my-5#unless
      h3 unless
      include:markdown-it(html) ../../../doc/reference/core/binders/unless.md
      
    section.my-5#value
      h3 value
      include:markdown-it(html) ../../../doc/reference/core/binders/value.md
      
    section.my-5#checked
      h3 checked
      include:markdown-it(html) ../../../doc/reference/core/binders/checked.md

    section.my-5#unchecked
      h3 unchecked
      include:markdown-it(html) ../../../doc/reference/core/binders/unchecked.md
      
    section.my-5
      h3#on-event on-[event]
      include:markdown-it(html) ../../../doc/reference/core/binders/on-[event].md
      
    section.my-5#each-item 
      h3 each-[item]
      include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/each-[item].md
      section.my-5
        h4#each-item-example Example
        include ../../../doc/examples/each-[item]

    section.my-5#nested-each-item
      h3 Nested each-[item]
      include:markdown-it(html) ../../../doc/reference/core/binders/each-[item]/nested-each-[item].md
      
    section.my-5#class-classname
      h3 class-[classname]
      include:markdown-it(html) ../../../doc/reference/core/binders/class-[classname].md

    section.my-5#add-class
      h3 add-class
      include:markdown-it(html) ../../../doc/reference/core/binders/add-class.md

    section.my-5#remove-class
      h3 remove-class
      include:markdown-it(html) ../../../doc/reference/core/binders/remove-class.md

    //- section.my-5#animate-classname
    //-   h3 animate-classname
    //-   include:markdown-it(html) ../../../doc/reference/core/binders/animate-classname.md

    section.my-5#remove-class
      h3 remove-class
      include:markdown-it(html) ../../../doc/reference/core/binders/remove-class.md

    section.my-5#srcset-size
      h3 srcset-[size]
      include:markdown-it(html) ../../../doc/reference/core/binders/srcset-[size].md

    section.my-5#assign
      h3 assign
      include:markdown-it(html) ../../../doc/reference/core/binders/assign.md

    section.my-5#block
      h3 block
      include:markdown-it(html) ../../../doc/reference/core/binders/block.md

    section.my-5#attribute
      h3 [attribute]
      include:markdown-it(html) ../../../doc/reference/core/binders/[attribute].md