extends ../_extends/generated-page.pug

block content

  section.my-5
    h2#install Install
    include:markdown-it ../../../doc/guide/install.md
    h2#install File Structure
    include ../../../doc/guide/file-structure

  section.my-5
    h2#usage Usage
    section.my-4
      h3#templates Templates
      include:markdown-it ../../../doc/guide/usage/templates.md
    
    section.my-4
      h3#binding Binding
      include:markdown-it ../../../doc/guide/usage/binding.md
    
    section.my-4
      h3#configuring Configuring
      include:markdown-it ../../../doc/guide/usage/configuring.md

  section.my-5
    h2#binders Binders
    include:markdown-it ../../../doc/guide/binders.md
    
    section.my-4
      h3#one-way-binders One-way Binders
      include:markdown-it ../../../doc/guide/binders/one-way.md
    
    section.my-4
      h3#two-way-binders Two-way Binders
      include:markdown-it ../../../doc/guide/binders/two-way.md
    
    section.my-4
      h3#api API
      include:markdown-it ../../../doc/guide/binders/api.md

  section.my-5
    h2#formatters Formatters
    include:markdown-it ../../../doc/guide/formatters.md
    
    section.my-4
      h3#one-way-formatters One-way formatters
      include:markdown-it ../../../doc/guide/formatters/one-way.md
    
    section.my-4
      h3#two-way-formatters Two-way formatters
      include:markdown-it ../../../doc/guide/formatters/two-way.md
    
    section.my-4
      h3#formatters-arguments Formatter arguments
      include:markdown-it ../../../doc/guide/formatters/arguments.md

  section.my-5
    h2#components Components
    include:markdown-it ../../../doc/guide/components.md

  section.my-5
    h2#adapters Adapters
    include:markdown-it ../../../doc/guide/adapters.md
    
    section.my-4
      h3#the-built-in-adapter The built-in adapter
      include:markdown-it ../../../doc/guide/adapters/default.md
    
    section.my-4
      h3#creating-an-adapter Creating an adapter
      include:markdown-it ../../../doc/guide/adapters/creating.md

  section.my-5
    h2#iteration-binding Iteration binding
    
    section.my-4
      h3#iterate Iterate
      include:markdown-it ../../../doc/guide/iteration/iteration.md
    
    section.my-4
      h3#iteration-index Iteration index
      include:markdown-it ../../../doc/guide/iteration/index.md
