.container.py-5.page(class='{{template|handleize}}', id='page-content-{{page.handle}}')
  .row.pt-5
    .col-12
      .row
        .col-12
          h1.page-title
            | {{ page.title }}
            block title
          .rte
            | {{ page.content }}
          .content
            block content
