.container.py-5.page(class='{{template|handleize}}', id='page-content-{{page.handle}}')
  .row.pt-5
    .col-12
      .row
        .col-12
          h1.page-title
            | {{ page.title }}
            block title
          .rte
            | {{ page.content }}
          .content
            block content
            bs4-scrollspy.d-none.d-lg-block.side-scrollspy(header-parent-selector="#main-container", headers-start="2", headers-depth="2", offset="200" offset-bottom="80", scroll-offset="80")