section.header.bg-primary.text-light.text-center.py-5
  .container.py-5
    .row
      .col
        p.lead
          | Lightweight and powerful data binding + templating solution for building modern web applications.
        p.lead
          | The espiritual sucessor of 
          strong Rivets.js
          |  rewritten in TypeScript.
        a.btn.btn-outline-light.btn-lg.mt-3(href='https://github.com/ribajs/riba/releases/latest')
          rv-icon(class="mr-2" rv-src="'{{ 'iconset_icon_download.svg' | asset_url }}'", size="16")
          span Download #{riba.version}