rv-bind-content
  template
    rv-example-tabs(handle="bs4-tabs-tpl")
      template(title="Source")
        include:prismjs(language = 'html') ../../../../examples/bs4-tabs-tpl/src/components/bs4-tabs-tpl-example/bs4-tabs-tpl-example.component.html
      template(title="Preview")
        rv-bs4-tabs-tpl-example
      template(title="Info")
        include:markdown-it(html) ../../../../examples/bs4-tabs-tpl/README.md
