rv-example(handle="each-item")
  template(name="html")
    include ../../../../examples/each-item/src/components/each-item-example/each-item-example.component.html
  template(name="script")
    include ../../../../examples/each-item/src/components/each-item-example/each-item-example.component.ts
  template(name="preview")
    rv-each-item-example
  template(name="try-it")
    include:markdown-it(html) ../../../../examples/each-item/README.md
