rv-bind-content
  template
    rv-example-tabs(handle="each-item")
      template(title="each-item-example.component.html")
        include:prismjs(language = 'html') ../../../../examples/each-item/src/components/each-item-example/each-item-example.component.html
      template(title="each-item-example.component.ts")
        include:prismjs(language = 'typescript') ../../../../examples/each-item/src/components/each-item-example/each-item-example.component.ts
      template(title="index.html")
        include:prismjs(language = 'html') ../../../../examples/each-item/src/index.html
      template(title="README.md")
        include:markdown-it(html) ../../../../examples/each-item/README.md
      template(title="Preview")
        rv-each-item-example
