extends ../extends/generated-page.pug

block content
  h2#install Install
  include:markdown-it ../../../node_modules/ribajs/docs/guide/install.md

  h2#usage Usage
  h3#templates Templates
  include:markdown-it ../../../node_modules/ribajs/docs/guide/usage/templates.md
  h3#binding Binding
  include:markdown-it ../../../node_modules/ribajs/docs/guide/usage/binding.md
  h3#configuring Configuring
  include:markdown-it ../../../node_modules/ribajs/docs/guide/usage/configuring.md

  h2#binders Binders
  include:markdown-it ../../../node_modules/ribajs/docs/guide/binders.md
  h3#one-way-binders One-way Binders
  include:markdown-it ../../../node_modules/ribajs/docs/guide/binders/one-way.md
  h3#two-way-binders Two-way Binders
  include:markdown-it ../../../node_modules/ribajs/docs/guide/binders/two-way.md
  h3#two-way-binders Two-way Binders
  include:markdown-it ../../../node_modules/ribajs/docs/guide/binders/api.md

  h2#formatters Formatters
  include:markdown-it ../../../node_modules/ribajs/docs/guide/formatters.md
  h3#one-way-formatters One-way formatters
  include:markdown-it ../../../node_modules/ribajs/docs/guide/formatters/one-way.md
  h3#two-way-formatters Two-way formatters
  include:markdown-it ../../../node_modules/ribajs/docs/guide/formatters/two-way.md
  h3#formatter-arguments Formatter arguments
  include:markdown-it ../../../node_modules/ribajs/docs/guide/formatters/arguments.md

  h2#components Components
  include:markdown-it ../../../node_modules/ribajs/docs/guide/components.md

  h2#adapters Adapters
  include:markdown-it ../../../node_modules/ribajs/docs/guide/adapters.md
  h3#the-built-in-adapter The built-in adapter
  include:markdown-it ../../../node_modules/ribajs/docs/guide/adapters/default.md
  h3#creating-an-adapter Creating an adapter
  include:markdown-it ../../../node_modules/ribajs/docs/guide/adapters/creating.md

  h2#iteration-binding Iteration binding
  h3#iterate Iterate
  include:markdown-it ../../../node_modules/ribajs/docs/guide/iteration/iteration.md
  h3#iteration-index Iteration index
  include:markdown-it ../../../node_modules/ribajs/docs/guide/iteration/index.md