{% comment %} Navigation Desktop {% endcomment %}
<bs4-navbar class="navbar navbar-dark navbar-main fixed-top bg-primary">

  {% comment %}
    MAINBAR
  {% endcomment %}
  <div class="container-fluid d-block mainbar">
    <div class="row justify-content-between">

      {% comment %}
        MAINBAR LEFT
      {% endcomment %}
      <div class="col-auto d-flex align-items-center">
        <a class="navbar-brand" href="/">Riba</a>
      </div>

      {% comment %}
        MAINBAR RIGHT
      {% endcomment %}
      <div class="col-auto d-flex align-items-center">

        {% comment %}
          Desktop
        {% endcomment %}
        <ul class="nav d-none d-md-flex">

          <shopify-linklist class="d-flex align-items-center" name="main-menu" vertical="false" pills="false"></shopify-linklist>

        </ul>

        {% comment %}
          Smartphone
        {% endcomment %}
        <ul class="nav d-flex d-md-none">
          <li class="nav-item d-flex align-items-center">
            <div rv-show="isCollapsed" class="nav-link" rv-on-click="toggle">
              <rv-icon rv-src="'{{ 'iconset_icon_menu.svg' | asset_url }}'" size="32"></rv-icon>
            </div>
          </li>
          <li class="nav-item d-flex align-items-center">
            <div rv-hide="isCollapsed" class="nav-link" rv-on-click="toggle">
              <rv-icon rv-src="'{{ 'iconset_icon_close.svg' | asset_url }}'" size="32"></rv-icon>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

  {% comment %} Collapsed navigation {% endcomment %}
  <div class="collapse navbar-collapse d-md-none py-3 scrollbar-y-auto">
    <div class="container-fluid">
      <div class="row">
        <shopify-linklist class="col-12" name="main-menu" vertical="true" pills="false"></shopify-linklist>
      </div>
    </div>
  </div>

</bs4-navbar>
