section.header
  .container
    .row
      .col
        p.blurb
          | Lightweight and powerful data binding + templating solution for building modern web applications.
        p.blurb
          | The espiritual sucessor of 
          strong Rivets.js
        a.btn.btn-clear(href='https://raw.githubusercontent.com/blikblum/tinybind/master/dist/tinybind.js')
          i 📥
          span Download 1.0
