rv-example-tabs(handle="shopify-img")
  template(title="Source")
    include:prismjs(language = 'html') ./source.html
  template(title="Result")
    include:prismjs(language = 'html') ./result.html
  template(title="Preview")
    include ./source.html