doctype html(lang='{{shop.locale}}')
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='theme-color', content='#000000')
  meta(name='msapplication-navbutton-color', content='#000000')
  meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title
    | {% include 'utils-get-title' %}
  | {% if page_description %}
  meta(name='description', content='{{ page_description | escape }}')
  | {% endif %}
  link(rel='canonical', href='{{ canonical_url }}')
  | {% include 'utils-js-variables' %}
  | {% include 'favicons' %}
  | {% include 'open-graph-tags' %}
  link(rel='stylesheet', href="{{ 'bundle.css' | asset_url }}")
  body(id="{% include 'utils-get-namespace' %}")
    bs4-sidebar#main-sidebar(container-selector="#main-container")
      shopify-linklist.d-flex.align-items-center.my-5(name="sidebar-menu" vertical="true" pills="false")
    #main-container
      main
      #layout-top
        | {% include 'navigation' %}
      #main(rv-view='{"listenAllLinks": false, "datasetToModel": true}')
        <div {% include 'utils-riba-container-attributes' %}>
          | {{ content_for_layout }}
        </div>
      #layout-bottom.pb-2.pb-lg-0
    script(type='application/ld+json').
      {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{{ shop.name }}",
      "logo": "https:{{ 'iconset-logo.svg' | asset_url }}",
      {% comment %}
      "sameAs": [
      "{{ settings.social_twitter_link }}",
      "{{ settings.social_facebook_link }}",
      "{{ settings.social_pinterest_link }}",
      "{{ settings.social_instagram_link }}",
      "{{ settings.social_tumblr_link }}",
      "{{ settings.social_snapchat_link }}",
      "{{ settings.social_youtube_link }}",
      "{{ settings.social_vimeo_link }}"
      ],
      {% endcomment %}
      "url": "{{ shop.url }}{{ page.url }}"
      }
    // content_for_header: start
    | {{ content_for_header }}
    // content_for_header: end
    script(async='', src="{{ 'vendors.main.bundle.js' | asset_url }}", type='text/javascript')
    script(async='', src="{{ 'main.bundle.js' | asset_url }}", type='text/javascript')
