/**
 * Variables wich are not existing in bootstrap
 */

$prism-font-family: 'Fira Code', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
$code-background-color: #272822;
$code-text-color: #f8f8f2;