/* Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Thin.eot');
    src: url('/assets/webfont_ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Thin.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Thin.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Thin.svg#ywftsvg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Light.eot');
    src: url('/assets/webfont_ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Light.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Light.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Light.svg#ywftsvg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Reg.eot');
    src: url('/assets/webfont_ProximaNova-Reg.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Reg.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Reg.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Reg.svg#ywftsvg') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Sbold.eot');
    src: url('/assets/webfont_ProximaNova-Sbold.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Sbold.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Sbold.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Sbold.svg#ywftsvg') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Bold.eot');
    src: url('/assets/webfont_ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Bold.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Bold.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Bold.svg#ywftsvg') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Xbold.eot');
    src: url('/assets/webfont_ProximaNova-Xbold.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Xbold.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Xbold.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Xbold.svg#ywftsvg') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/webfont_ProximaNova-Black.eot');
    src: url('/assets/webfont_ProximaNova-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/webfont_ProximaNova-Black.woff') format('woff'),
        url('/assets/webfont_ProximaNova-Black.ttf') format('truetype'),
        url('/assets/webfont_ProximaNova-Black.svg#ywftsvg') format('svg');
    font-weight: 800;
    font-style: normal;
}
