/* Proxima Nova */

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Thin.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Reg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Sbold.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('webfont_ProximaNova-Bold.woff') format('woff');        
    font-weight: 600;
    font-style: normal;
}
